@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MonumentExtended';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../../public/fonts/MonumentExtended-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../../public/fonts/Satoshi-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-style: medium;
  font-weight: 600;
  src: local(''), url('../../public/fonts/Satoshi-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-style: bold;
  font-weight: 800;
  src: local(''), url('../../public/fonts/Satoshi-Bold.woff2') format('woff2');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: Satoshi;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
